---
layout: logbuch_site
---

<article class="post">
    <div class="date">
        {{ page.date | date: "%B %e, %Y" }}
       </div>
  <h1>{{ page.title }}</h1>
  <div class="entry">
    {{ content }}
  </div>



  <div class="post-tags">
      {% if post %}
        {% assign tags = post.tags %}
      {% else %}
        {% assign tags = page.tags %}
      {% endif %}
      {% for tag in tags %}
      <a class="cssbutton" href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div> 

  {% include disqus.html %}
</article>
